doctype html
html
	head
		meta(charset="utf-8")
		title="New Life"
		style
			include ../styles/style-greetings.css
	body
		header
			a(href="/").logo
				img(src=logo, alt="logo")
			ul.nav
				li 
					a(href="#") About us
				li 
					a(href="#") Enroll
				li 
					a(href="#") Contact
		section.hero
			div.container
				div.entry-box
					h1 Vulgus profanum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna nec leo semper tincidunt quis non ante. Donec quis velit et erat tincidunt vulputate. Mauris sollicitudin nulla ipsum, ut tincidunt dolor porta vitae.
					a(href="/auth/google").btn start
		footer
			p &copy;2017 All rights permitted!